@import "../vars";
.adv-banners {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.adv-banner {
    width: 36px;
    position: relative;
    &>img {
        width: 100%;
    }
    &--small {
        width: 33.33px;
    }
    &--medium2 {
        width: 46px;
    }
    &--medium {
        width: 50px;
    }
    &--large {
        width: 78px;
    }
    &:hover {
        cursor: pointer;
        .adv-banner__detail {
            opacity: 1;
            pointer-events: unset;
        }
    }
    &:not(:last-child) {
        margin-right: 12px;
    }
    &__detail {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-48.5%);
        width: 430px;
        z-index: 3;
        padding-bottom: 26px;
        background-image: url(../img/tooltip-bg.svg);
        background-size: 100% 100%;
        opacity: 0;
        pointer-events: none;
        transition: all .225s;
        &-wrap {
            display: flex;
            padding: 20px 20px 20px 30px;
            border-radius: 8px;
        }
        &-close {
            position: absolute;
            right: 10px;
            top: 10px;
            &:hover {
                g {
                    opacity: 1;
                }
            }
        }
    }
    &__img {
        width: 100px;
        flex-shrink: 0;
        margin-right: 20px;
        img {
            border-radius: 5px;
            width: 100%;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 135%;
    }
    &__desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        margin-top: 5px;
    }
}

@media screen and (max-width: 992px) {
    .adv-banners {
        position: relative;
    }
    .adv-banner {
        position: static;
        &__detail {
            max-width: 100%;
            background-image: unset;
            transform: translateX(-50%);
            &-wrap {
                padding: 20px;
                background: #fff;
                box-shadow: 0px 4px 15px rgba(42, 58, 67, 0.1);
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .adv-banner {
        width: 27px;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &--small {
            width: 25.33px;
        }
        &--medium2 {
            width: 35px;
        }
        &--medium {
            width: 38px;
        }
        &--large {
            width: 59px;
        }
        &__img {
            width: 90px !important;
            margin: 0 10px 5px 0;
            float: left;
        }
        &__detail {
            &-wrap {
                display: block;
                padding: 12px;
            }
        }
    }
}

@media screen and (max-width: 374px) {
    .adv-banner {
        // width: 22px;
        &:not(:last-child) {
            margin-right: 5px;
        }
        // &--medium2 {
        //     width: 33px;
        // }
        // &--medium {
        //     width: 33px;
        // }
        // &--large {
        //     width: 50px;
        // }
        &__title {
            font-size: 14px;
        }
        &__desc {
            font-size: 12px;
        }
    }
}