<div class="adv-banners">
    <div class="adv-banner adv-banner--scroll">
        @@include('_adv-banner-tooltip.html',{"title":"Скроллеры"})
        <img src="img/adv-banner.svg" alt="">
    </div>
    <div class="adv-banner  adv-banner--medium2">
        @@include('_adv-banner-tooltip.html',{"title":"3x4"})
        <img src="img/adv-banner2.svg" alt="">
    </div>
    <div class="adv-banner adv-banner--medium">
        @@include('_adv-banner-tooltip.html',{"title":"3x6"})
        <img src="img/adv-banner3.svg" alt="">
    </div>
    <div class="adv-banner adv-banner--small">
        @@include('_adv-banner-tooltip.html',{"title":"3x4"})
        <img src="img/adv-banner4.svg" alt="">
    </div>
    <div class="adv-banner adv-banner--medium">
        @@include('_adv-banner-tooltip.html',{"title":"3x6"})
        <img src="img/adv-banner5.svg" alt="">
    </div>
    <div class="adv-banner adv-banner--large">
        @@include('_adv-banner-tooltip.html',{"title":"Super"})
        <img src="img/adv-banner6.svg" alt="">
    </div>
    <div class="adv-banner adv-banner--large">
        @@include('_adv-banner-tooltip.html',{"title":"Super"})
        <img src="img/adv-banner7.svg" alt="">
    </div>
</div>